#recentNews {
  background-color: green;
  padding: 15px;
  color: white;
  font: 500;
  margin-top: -10px;
}

/* Contact page CSS */

#teamDivision {
  background-color: ghostwhite;
}

/* login section */
/* .thumbnail {
  padding: 50px;
  margin-top: 50px;
  border-color: lightslategray;
} */
